
.card {
    margin-bottom: 20px; 
    border: 1px solid #dee2e6; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #6dd7b9; 
}

.card-title {
font-weight: bold; 
font-size: 1.2rem; 
margin-bottom: 10px; 
}

.card-text {
font-size: 1rem;
margin-bottom: 8px; 
}

.btn-info {
margin-right: 10px; 
background-color: #007bff; 
border-color: #007bff; 
color: #fff;
font-weight: bold; 
transition: background-color 0.3s, border-color 0.3s, color 0.3s; 

&:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}
}
