// Import Bootstrap SCSS
@import '~bootstrap/scss/bootstrap';

// Custom styles
.item-card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #62ce88;// Background color

.card-title {
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 10px;
}

.card-text {
font-size: 1rem;
margin-bottom: 5px;
}

.fw-bold {
font-weight: bold;
}

.card-button-group {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.card-button {
padding: 8px 20px;
font-size: 1rem;
border-radius: 5px;
cursor: pointer;

&:hover {
    opacity: 0.8;
}

&.edit {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;

&:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    }
}

&.delete {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;

    &:hover {
    background-color: #bd2130;
    border-color: #bd2130;
    }
}
}
}
